* {
    margin: 0;
    padding: 0;
}

h1{
    font-family:'Caveat';
    color: #6E2D05;
    font-size:60px;
    text-align: center;
    margin-top: -30px;
}

.margen{
    padding: 30px 100px 10px 100px;
}

#listaHeader li{
    list-style-type: none;
    float: right;
}

#listaHeader li input{
    height: 30px;
    border: solid #91190A 1px;
    border-radius: 15px 0px 0px 15px;
}

#iconoLupa{
    background-color: #EBEBEB;
    border: solid 1px black;
}

.espacioLogos{
    margin-left: 20px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav{
    background-color: #B69A76;
    padding: 15px 250px 15px 250px;
    font-weight: 500;
}

a:any-link{
    color: white;
    text-decoration: none;
}

a:hover{
    color: #6E2D05;
}

#portada{
    background-image: url(https://educacion.pilares.cdmx.gob.mx/pluginfile.php/11595/mod_assign/intro/portada.jpg?time=1724351454355);
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

#p1{
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding: 60px;
}

#p2{
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    padding: 40px;
}

h2{
    color: #91190A;
    font-size: 20px;
    padding-bottom: 10px;
}

h3{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

h4{
    color: gray;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 10px;
}

.botonVerMas{
    background-color: #91190A;
    color: white;
    border-radius: 3px;
    border: #91190A;
    height: 25px;
    width: 60px;
    font-size: 10px;
}

.botonComprar{
    background-color: #91190A;
    color: white;
    border-radius: 3px;
    border: #91190A;
    height: 20px;
    width: 60px;
    font-size: 10px;
}

.tarjetaLibro{
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tarjetaLibro2{
    display: flex;
    flex-direction: column;
    width: 180px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#contenedorRecomendaciones{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

#contenedorLibros{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    overflow-x: scroll;
    gap: 70px;
}

#contenedorRecomendaciones img{
    height: 280px;
}

#contenedorLibros img{
    height: 280px;
}

#linkVerMas{
    color: #B5655B;
}

#contenedorTituloLibros{
    display: flex;
    justify-content: space-between;
}

#precio{
    color: #B69A76;
    font-size: 20px;
    font-weight: 600;
}

#contenedorPrecioBoton{
    display: flex;
    gap: 10px;
}

#imagenSucursal{
    float: right;
}

.textoConocenos{
    padding-right: 440px;
    text-align: justify;
}

#textoTeEsperamos{
    text-align: center;
}

#containerConocenos{
    padding-bottom: 100px;
}

footer{
    background-color: #B69A76;
}

.cartaFooter{
    width: 320px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    text-align: justify;
}

.tituloFooter{
    font-weight: 800;
    padding-bottom: 15px;
    border-bottom: solid 1px white;
    font-size: 18px;
}

.imgFloat{
    float: left;
}

.paddingRedes{
    padding-top: 7px;
}

#containerRedes{
    display: flex;
    justify-content: center;
    gap: 15px;
}

footer ul li, #pRegistrate{
    list-style-type: none;
    margin-top: 15px;
    margin-bottom: 10px;
}

#pie{
    color: white;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#pie span{
    font-weight: 700;
}

#containerTarjetasFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#correo{
    font-weight: 600;
}

#boton{
    background-color: #9F5A41;
    border: #9F5A41;
    border-radius: 2px;
    color: white;
    height: 20px;
    width: 40px;
    font-size: 10px;
}

#caja{
    height: 20px;
    border: 0px;
    margin-right: -3px;
}